#command {
 	min-width: 450px;
	display: grid;
	grid-template-columns: 16px 1.25fr 3fr;
	border: solid 1px black;
}

.command-edit {
	display: flex;
	align-items: center;
	font-size: 16px;
}
.command__description {
	display: flex;
	align-items: center;
}


#shortcuts {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.key_combo {
	display: flex; 
	align-items: center;
	flex-direction: row;
}
.key {
  box-sizing: border-box;
	display: inline-block;
	color: #fff;
	font: bold .8em arial;
	text-decoration: none;
	text-align: center;
  letter-spacing: 1px;
  line-height: 18px;
	min-width: 24px;
  padding: 0 8px;
	height: 18px;
	margin: 5px;
	
	background: #2C2F33;
  box-shadow: 
		2px 2px #99aab5;
		// 0 1px 0 blue,
		// 0 2px 0 yellow,
		// 0 2px 3px red;

	border-radius: 4px;
  border-top: 1px solid #f5f5f5;
}