
<div id="command" (mouseenter)="showEditButton = true" (mouseleave)="showEditButton=false">
	<div class="command-edit">
		<fa-icon *ngIf="showEditButton" (click)="isEditing = !isEditing; this.bindings=''" [icon]="faPenSquare"></fa-icon>
	</div>
	<div class="command__description">{{command.description}}</div>
	<div>
		<div *ngIf="isEditing; else elseBlock">
			<input [(ngModel)]="bindings" (keydown)="onKeyDown($event)" [readonly]="true" appAutofocus>
			<button (click)="saveKeyboardShortcut()">asdf</button>
		</div>
		<ng-template #elseBlock>
			<div id="shortcuts">
				<div class="key_combo" *ngFor="let binding of command.bindings.split(' '); first as f">
					<div *ngIf="!f">→</div>
					<div *ngFor="let key of binding.split('+')">
						<div class="key">{{key.toUpperCase()}}</div>
					</div>
				</div>
			</div>
	
		</ng-template>
	</div>
</div>