#command {
	display: grid;
	height: 30px;
	padding: 3px 8px;
	grid-template-columns: 20px 150px auto;
	grid-template-areas: "edit description hotkeys";
}

.command-hover {
	background-color: #4C566A;
}

.command-edit {
	grid-area: "edit";
	display: flex;
	align-items: center;
	font-size: 16px;
}

.command__editBindings {
	width: 100%;
}

.command__description {
	grid-area: "description";
	display: flex;
	align-items: center;
}

.command__hotkeys {
	grid-area: "hotkeys";
	display: flex;
	width: 100%;
	align-items: center;
}
