

#ytp {

}

.ytp__name {
  // font: bold 1em arial;
  color: #BF616A;
  font-size: 24px;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto 10px auto;
  letter-spacing: 1px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  text-align: center;
}

.ytp__lists {
  padding: 0 8px;
  font-weight: 700;
  font-size: 12px;
  display: grid;
  margin-bottom: 6px;
  min-width: 500px;
	grid-template-columns: 20px 1.5fr 3fr;
  grid-template-areas: ". command keybinding";
  color: #ECEFF4;
}

.ytp__lists__command {
  grid-area: command;
}

.ytp__lists__keybinding {
  grid-area: keybinding;
}

.even {
  background-color: #3b4252;
  color: #E5E9F0;
}

.odd {
  background-color: #2E3440;
  color: #E5E9F0;
}
