.ytp__name {
  // font: bold 1em arial;
  color: #EBCB8B;
  font-size: 18px;
  text-transform: uppercase;
  width: 50%;
  margin: 15px 20px;
  letter-spacing: 1px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.ytp__lists {
  padding: 0 8px;
  font-weight: 700;
  font-size: 12px;
  display: grid;
  margin-bottom: 6px;
  min-width: 300px;
	grid-template-columns: 20px 150px auto;
  grid-template-areas: ". command keybinding";
  color: #ECEFF4;
}

.ytp__lists__command {
  grid-area: command;
  letter-spacing: .5px;
}

.ytp__lists__keybinding {
  grid-area: keybinding;
  letter-spacing: .5px;
}

.even {
  background-color: #434C5E;
  color: #E5E9F0;
}

.odd {
  background-color: #3B4252;
  color: #E5E9F0;
}
