@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
/* You can add global styles to this file, and also import other style files */

body {
	margin: 0;
	min-width: 450px; 
  background-color: #3B4252;
  padding: 0 10px 10px 10px;
}

.mat-dialog-container {
	background-color: #242933;
	padding: 18px;
}

.cdk-global-scrollblock {
	position: static;
	overflow: hidden !important;
}

.cdk-overlay-dark-backdrop {
	background: rgba(0,0,0,.625);
}

.mat-form-field-wrapper {
	margin: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
	color: #ECEFF4;
}
.mat-select-value-text {
	color: #ECEFF4;
}
.mat-select-arrow {
	color: #ECEFF4;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
	background-color: #ECEFF4;
}

.mat-form-field.mat-focused .mat-form-field-label {
	color: #88C0D0;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
	background-color: #88C0D0;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
	color: #88C0D0;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
	color: #88C0D0;
}

.mat-option {
	color: #fff;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
	background: #5E81AC;
	color: #fff;
}

.mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
	background: #88C0D0;
}

.mat-form-field-ripple {
	background-color: rgba(0,0,0,.87);
}

.mat-select-panel {
	background: #2E3440;
}

.mat-form-field-wrapper { 
	margin: 15px 20px; 
}


#shortcuts {
	display: flex;
	align-items: center;
}

.key_combo {
	display: flex; 
	align-items: center;
	flex-direction: row;
	color: #fff;
	margin: 0 6px;
}

.chorded__keys {
	margin-right: 8px;
	margin-left: -4px;
}

.key {
  box-sizing: border-box;
	display: inline-block;
	font: bold 10px arial;
	text-decoration: none;
	text-align: center;
  letter-spacing: .5px;
  line-height: 22px;
	min-width: 24px;
  padding: 0 5px;
	height: 22px;
	margin: 3px;
	color: #ECEFF4;
	background: #5E81AC;
  box-shadow: 
		.5px .5px #4C566A,
		0 1px 0 #8FBCBB,
		0 2px 0 #5E81AC,
		0 2px 3px #81A1C1;
		border-top: 1px solid #81A1C1;

	border-radius: 4px;
}

.firstKey {
  margin-left: 0;
}

.lastKey {
  margin-right: 0;
}